<!DOCTYPE html>
<html lang="en">
   <head>
    
  
   </head>
   <body>

      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="{{ asset('js/user/jquery.min.js') }}"></script>
      <script src="{{ asset('js/user/popper.min.js') }}"></script>
      <script src="{{ asset('js/user/bootstrap.bundle.min.js') }}"></script>
      <script src="{{ asset('js/user/jquery-3.0.0.min.js') }}"></script>
      <script src="{{ asset('js/user/plugin.js') }}"></script>
      <!-- sidebar -->
      <script src="{{ asset('js/user/jquery.mCustomScrollbar.concat.min.js') }}"></script>
      <script src="{{ asset('js/user/custom.js') }}"></script>
      <!-- javascript --> 
      <script src="{{ asset('js/user/owl.carousel.js') }}"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </body>
</html>

